<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright 2013-2016 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Context>

	<Resource auth="Container" driverClassName="oracle.jdbc.OracleDriver"
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" initialSize="1"
		logAbandoned="true" logValidationErrors="true" maxActive="5" maxWait="10000"
		minEvictableIdleTimeMillis="300000" minIdle="1" name="MobileLDBDataSourceRef"
		password="AAC0M" removeAbandoned="true" removeAbandonedTimeout="300"
		testOnBorrow="true" testOnReturn="false" testWhileIdle="true"
		timeBetweenEvictionRunsMillis="60000" type="javax.sql.DataSource"
		url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=aadalldbq200-vip)(PORT=1524))(ADDRESS=(PROTOCOL=TCP)(HOST=aadalldbq201-vip)(PORT=1524))(LOAD_BALANCE=yes)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=aacom_web.service.AAWEBQS.aaqa)))"
		username="LDB_QA12" validationInterval="30000" validationQuery="SELECT 1 FROM DUAL" />
	

	<Resource auth="Container" driverClassName="oracle.jdbc.OracleDriver"
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" initialSize="1"
		logAbandoned="true" logValidationErrors="true" maxActive="5" maxWait="10000"
		minEvictableIdleTimeMillis="300000" minIdle="1" name="MobileDBLogDataSourceRef"
		password="AAC0M" removeAbandoned="true" removeAbandonedTimeout="300"
		testOnBorrow="true" testOnReturn="false" testWhileIdle="true"
		timeBetweenEvictionRunsMillis="60000" type="javax.sql.DataSource"
		url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=aadalldbq200-vip)(PORT=1523))(ADDRESS=(PROTOCOL=TCP)(HOST=aadalldbq201-vip)(PORT=1523))(LOAD_BALANCE=yes)(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=dblog.service.AALOGQS.aaqa)))"
		username="DBLOG_QA12" validationInterval="30000" validationQuery="SELECT 1 FROM DUAL" />
		
</Context>
